<input routerLink="/admin/pessoas" type="button" value="Listagem de Pessoas" />
<input routerLink="/admin/pessoas/novo" type="button" value="Cadastrar Pessoa" />
<input routerLink="/admin/pessoas/editar/:id" type="button" value="Editar Pessoa">
<br>

<input routerLink="/admin/carros" type="button" value="Listagem de Carros" />
<input routerLink="/admin/carros/novo" type="button" value="Cadastrar Carro" />
<input routerLink="/admin/carros/editar/:id" type="button" value="Editar Carro">
<br>

<input routerLink="/admin/livros" type="button" value="Listagem de Livros" />
<input routerLink="/admin/livros/novo" type="button" value="Cadastrar Livro" />
<input routerLink="/admin/livros/editar/:id" type="button" value="Editar Livro">
<br>

<input routerLink="/login" type="button" value="Sair" />
